
/* Color Variables */
:root {
    --color-bio: #052940;
    --color-skills: #083A59;
    --color-experience: #1B618C;
    --color-projects: #56A1BF;
    --color-contact: #79C7D9;
    --color-text: white;
}


