@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

/* Color Variables */
:root {
    --color-bio: #052940;
    --color-skills: #083A59;
    --color-experience: #1B618C;
    --color-projects: #56A1BF;
    --color-contact: #79C7D9;
    --color-text: white;
}

body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Chivo', sans-serif;
}

section {
    padding: 40px;
    margin: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    color: var(--color-text);
}

/* Tablet */
@media (max-width: 768px) {
    section {
        height: 50vh;
    }
}

h1, h2 {
    font-family: 'Alfa Slab One', cursive;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-item-text {
    flex: 1;
    padding: 20px;
}

.flex-item-image {
    flex: 1;
    padding: 20px;
}

.flex-item-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

#bio {
    background-color: var(--color-bio);
}

#skills {
    background-color: var(--color-skills);
}

#experience {
    background-color: var(--color-experience);
}

#projects {
    background-color: var(--color-projects);
}

#contact {
    background-color: var(--color-contact);
}

#sticky-button {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--color-text);
    z-index: 1000;
    text-align: center;
}
