
/* Color Variables */
:root {
    --color-bio: #052940;
    --color-skills: #083A59;
    --color-experience: #1B618C;
    --color-projects: #56A1BF;
    --color-contact: #79C7D9;
    --color-text: white;
}




#bio {
    background-color: var(--color-bio);
}

#skills {
    background-color: var(--color-skills);
}

#experience {
    background-color: var(--color-experience);
}

#projects {
    background-color: var(--color-projects);
}

#contact {
    background-color: var(--color-contact);
}


