@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

:root {
    --color-bio: #F2ACB2;
    --color-skills: #D99CB8;
    --color-experience: #A08ABF;
    --color-projects: #4988BF;
    --color-contact: #F2B29B;
    --color-text: white;
}
